<div class="space-y-4">
  <!-- Header -->
  <div class="flex justify-between items-center mb-4 text-gray-800">
    <h1 class="text-2xl font-bold">Gestión de Usuarios</h1>
    <button class="btn btn-primary" onclick="my_modal_1.showModal()">
      + Agregar nuevo usuario
    </button>
  </div>

  <!-- Modal Form -->
  <dialog id="my_modal_1" class="modal">
    <modal-usuarios [formUsers]="formUsers" [roles]="roles" (submitForm)="onSubmit()"/>
  </dialog>

  <!-- Filters -->
  <select-usuarios/>

  <hr class="border-gray-500" />

   <!-- Tabla de Usuarios -->
  <table-usuarios [serenos]="serenos" />
</div>
